#main div.kirwa {
	margin: 0.5rem 0;
	background: white;
    border-radius: 0.7rem;
	padding: 0.7rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
#main div.kirwa:hover {
	background: red;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
#main div.gph {
	float: left;
	margin: 0 1rem 0 0;

}
#main div.gph img {
	width: 220px;
    height: auto;
}
#main p.clear {
	clear: left;
    margin: 0;
    padding: 0;
}

/* Responsiveness */
@media all and (max-width: 768px) {
    #main div.gph img {
        max-width: 100%;
    	width: 100%;
        height: auto;
    }
}
